header{
    background-color: #393939;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.4);
    align-items: center;
    padding: 0.5em 0.5em;
}

header span{
    font-weight: bold;
}

header h3{
    margin: 0.5em 0;
}

.HeaderIcon{
    display: flex;
    align-items: center;
}

.HeaderUserInfo{
    padding: 8px 1em;
    display: flex;
    align-items: center;
    gap: 5px;
}

header a {
    color: white;
    text-decoration: none;
    margin-right: 1em;
}

