.LogNRegForm {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 3em auto;
  background-color: #2d2d2d;
  border-radius: 5%;
  gap: 15px;
}

.LogNRegForm input[type=submit]{
  width: fit-content;
  background-color: rgb(28, 173, 209);
  border: none;
  padding: 0.6em ;
  border-radius: 10%;
  text-decoration: none;
  color: white;

}
