

.TopBarQuestionsTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2em 1.5em;
}

.TopBarQuestionsTitle a{
    background-color: rgb(28, 173, 209);
    border: none;
    margin: 0.2em 1em;
    padding: 0.6em 0.2em;
    border-radius: 10%;
    text-decoration: none;
    color: white;
}


